<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title},~{::body/content()})}">

<head>
	<title>連絡帳管理サイト</title>
</head>

<body>
	<h3>登録されたアドレス一覧</h3>

	<div th:if="${addressList!=null and !addressList.empty}">
		<table class="table table-striped">
			<thead>
				<th>#</th>
				<th>名前</th>
				<th>メールアドレス</th>
				<th>電話番号</th>
				<th>郵便番号</th>
				<th>住所</th>
				<th role="action"></th>
			</thead>
			<tbody>
				<tr class="align-middle" th:each="addressBook, stat : ${addressList}" th:object="${addressBook}">
					<td th:text="${stat.count}"></td>
					<td th:text="|*{lastName}　*{firstName}|"></td>
					<td th:text="*{mailAddress}"></td>
					<td th:text="*{phoneNumber}"></td>
					<td th:text="*{zipCode}"></td>
					<td th:text="*{getAddressText()}"></td>
					<td>
						<a class="btn btn-warning" th:href="@{/address/edit/{id}(id=*{id})}">編集・削除</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:unless="${addressList!=null and !addressList.empty}">
		<div class="alert alert-danger" role="alert">
			データなし
		</div>
	</div>
</body>

</html>