<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title},~{::body/content()})}">

<head>
	<title>連絡帳管理サイト</title>
</head>

<body>
	<h3 th:text="|アドレス${method}画面|"></h3>

	<article>
		<form class="form py-4 needs-validation h-adr" method="post" th:action="${action}" th:object="${addressBook}">
			<div class="row">
				<label for="group" class="col-4 col-form-label text-end">グループ</label>
				<div class="col-4">
					<select class="form-select" id="group" name="group">
						<option th:value="0" selected>選択してください</option>
						<option th:each="item : ${groups}" th:value="${item.id}" th:text="${item.groupName}"></option>
					</select>
					<div th:if="${#fields.hasErrors('group')}" th:errors="*{group}" class="invalid-feedback">
						errors!</div>
				</div>
			</div>

			<div class="row mt-3">
				<label for="lastName" class="col-4 col-form-label text-end">名前（姓）</label>
				<div class="col-4">
					<input type="text" class="form-control" id="lastName" name="lastName" th:field="*{lastName}"
						th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid' : 'is-valid'" />
					<div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="invalid-feedback">
						errors!</div>
				</div>
			</div>

			<div class="row mt-3">
				<label for="firstName" class="col-4 col-form-label text-end">名前（名）</label>
				<div class="col-4">
					<input type="text" class="form-control" id="firstName" name="firstName" th:field="*{firstName}"
						th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid' : 'is-valid'" />
					<div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="invalid-feedback">
						errors!</div>
				</div>
			</div>

			<div class="row mt-3">
				<label for="mailAddress" class="col-4 col-form-label text-end">メールアドレス</label>
				<div class="col-4">
					<input type="email" class="form-control" id="mailAddress" name="mailAddress"
						th:field="*{mailAddress}"
						th:classappend="${#fields.hasErrors('mailAddress')} ? 'is-invalid' : 'is-valid'" />
					<div th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}"
						class="invalid-feedback">errors!</div>
				</div>
			</div>

			<div class="row mt-3">
				<label for="phoneNumber" class="col-4 col-form-label text-end">電話番号</label>
				<div class="col-4">
					<input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}"
						th:classappend="${#fields.hasErrors('phoneNumber')} ? 'is-invalid' : 'is-valid'" />
					<div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"
						class="invalid-feedback">errors!</div>
				</div>
			</div>

			<div class="row mt-3">
				<label for="zipCode" class="col-4 col-form-label text-end">郵便番号</label>
				<div class="col-3">
					<span class="p-country-name d-none">Japan</span>
					<input type="text" class="form-control p-postal-code" id="zipCode" name="zipCode" th:field="*{zipCode}"
						th:classappend="${#fields.hasErrors('zipCode')} ? 'is-invalid' : 'is-valid'"  />
					<div th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}"
						class="invalid-feedback">errors!</div>
				</div>
			</div>
			<div class="row mt-2">
				<label class="col-4 col-form-label text-end">住所</label>
				<div class="col-2">
					<input type="text" class="form-control p-region" id="prefecture" name="prefecture" th:field="*{prefecture}"
						th:classappend="${#fields.hasErrors('prefecture')} ? 'is-invalid' : 'is-valid'" readonly />
					<div th:if="${#fields.hasErrors('prefecture')}" th:errors="*{prefecture}"
						class="invalid-feedback">errors!</div>
				</div>
				<div class="col-2">
					<input type="text" placeholder="市区町村" class="form-control p-locality" id="city" name="city" th:field="*{city}"
						th:classappend="${#fields.hasErrors('city')} ? 'is-invalid' : 'is-valid'" readonly />
					<div th:if="${#fields.hasErrors('city')}" th:errors="*{city}"
						class="invalid-feedback">errors!</div>
				</div>
				<div class="col-4 offset-4">
					<input type="text" placeholder="丁目・番地" class="form-control p-street-address" id="address" name="address" th:field="*{address}"
						th:classappend="${#fields.hasErrors('address')} ? 'is-invalid' : 'is-valid'" />
					<div th:if="${#fields.hasErrors('address')}" th:errors="*{address}"
						class="invalid-feedback">errors!</div>
				</div>
				<div class="col-4 offset-4">
					<input type="text" placeholder="建物名・号室" class="form-control p-extended-address" id="building" name="building" th:field="*{building}"
						th:classappend="${#fields.hasErrors('building')} ? 'is-invalid' : 'is-valid'" />
					<div th:if="${#fields.hasErrors('building')}" th:errors="*{building}"
						class="invalid-feedback">errors!</div>
				</div>
			</div>

			<div class="row mt-3">
				<div class="offset-4 col-4">
					<button class="btn btn-primary">確認</button>
				</div>
			</div>
		</form>
	</article>
	<script src="https://yubinbango.github.io/yubinbango/yubinbango.js"></script>
</body>

</html>