<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout/base :: layout(~{::title},~{::body/content()})}">

<head>
	<title>連絡帳管理サイト</title>
</head>

<body>
	<h3 th:text="|グループ${method}完了画面|">グループ登録完了画面</h3>

	<article>
		<div th:if="${#strings.isEmpty(exception)}">
			<div class="alert alert-success" role="alert">
				<span th:text="${method}">処理</span>が完了しました。
			</div>
		</div>
		<div th:unless="${#strings.isEmpty(exception)}">
			<div class="alert alert-danger" role="alert" th:text="exception">
				データなし
			</div>
		</div>
	</article>
</body>

</html>